<a href="https://colab.research.google.com/github/NBK-code/Spark_Basics/blob/main/Spark_Fundamentals_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 34 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 47.5 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=16eb8a6ee8e6b8327f766129237b5a599e2f2eb862e4b29097513a95b943d3bb
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [3]:
import pyspark

In [4]:
from pyspark import SparkConf 
from pyspark.context import SparkContext 

sc = SparkContext.getOrCreate(SparkConf().setMaster("local[*]"))

In [5]:
sc

In [7]:
nums = list(range(0, 1000001))

In [8]:
nums_rdd = sc.parallelize(nums)
nums_rdd

ParallelCollectionRDD[1] at readRDDFromFile at PythonRDD.scala:274

In [9]:
nums_rdd.take(5)

[0, 1, 2, 3, 4]

In [10]:
squared_nums_rdd = nums_rdd.map(lambda x : x**2)
squared_nums_rdd.take(5)

[0, 1, 4, 9, 16]

In [11]:
len(str(643985))

6

In [15]:
pairs_rdd = squared_nums_rdd.map(lambda x : (x, (len(str(x)))))
pairs_rdd.take(5)

[(0, 1), (1, 1), (4, 1), (9, 1), (16, 2)]

In [16]:
even_digit_pairs_rdd = pairs_rdd.filter(lambda x : (x[1]%2 == 0))
even_digit_pairs_rdd.take(10)

[(16, 2),
 (25, 2),
 (36, 2),
 (49, 2),
 (64, 2),
 (81, 2),
 (1024, 4),
 (1089, 4),
 (1156, 4),
 (1225, 4)]

In [17]:
flipped_pairs_rdd = even_digit_pairs_rdd.map(lambda x: (x[1], x[0]))
flipped_pairs_rdd.take(10)

[(2, 16),
 (2, 25),
 (2, 36),
 (2, 49),
 (2, 64),
 (2, 81),
 (4, 1024),
 (4, 1089),
 (4, 1156),
 (4, 1225)]

In [18]:
grouped_rdd = flipped_pairs_rdd.groupByKey()
grouped_rdd.take(10)

[(2, <pyspark.resultiterable.ResultIterable at 0x7fb6f5fd7810>),
 (4, <pyspark.resultiterable.ResultIterable at 0x7fb6e92afb50>),
 (6, <pyspark.resultiterable.ResultIterable at 0x7fb6e92a8510>),
 (8, <pyspark.resultiterable.ResultIterable at 0x7fb6e94c0090>),
 (10, <pyspark.resultiterable.ResultIterable at 0x7fb6e92a8ad0>),
 (12, <pyspark.resultiterable.ResultIterable at 0x7fb6e92a8bd0>)]

In [19]:
grouped_rdd = grouped_rdd.map(lambda x : (x[0], list(x[1])))
grouped_rdd.take(2)

[(2, [16, 25, 36, 49, 64, 81]),
 (4,
  [1024,
   1089,
   1156,
   1225,
   1296,
   1369,
   1444,
   1521,
   1600,
   1681,
   1764,
   1849,
   1936,
   2025,
   2116,
   2209,
   2304,
   2401,
   2500,
   2601,
   2704,
   2809,
   2916,
   3025,
   3136,
   3249,
   3364,
   3481,
   3600,
   3721,
   3844,
   3969,
   4096,
   4225,
   4356,
   4489,
   4624,
   4761,
   4900,
   5041,
   5184,
   5329,
   5476,
   5625,
   5776,
   5929,
   6084,
   6241,
   6400,
   6561,
   6724,
   6889,
   7056,
   7225,
   7396,
   7569,
   7744,
   7921,
   8100,
   8281,
   8464,
   8649,
   8836,
   9025,
   9216,
   9409,
   9604,
   9801])]

In [20]:
averaged = grouped_rdd.map(lambda x : (x[0], sum(x[1])/len(x[1])))
averaged.collect()

[(2, 45.166666666666664),
 (4, 4675.5),
 (6, 471838.0),
 (8, 47204941.666666664),
 (10, 4720705565.0),
 (12, 472075391214.1667)]