<a href="https://colab.research.google.com/github/NBK-code/Spark_Basics/blob/main/Spark_Fundamentals_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 29 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 50.5 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=cc76a71e7f998a18c5170ffd631f5e59d68e5f84ac805fbb89fc8a993ca2a0b8
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [ ]:
import pyspark

In [ ]:
from google.colab import drive
drive.mount('gdrive')

Mounted at gdrive

In [ ]:
! ls gdrive/MyDrive/Colab_Notebooks/Spark

Book_Sample_1.csv  Book_Sample_1.xlsx  Spark_Fundamentals.ipynb

In [ ]:
import pandas as pd

In [ ]:
pd.read_csv('gdrive/MyDrive/Colab_Notebooks/Spark/Book_Sample_1.csv')

     Name  roll_no
0    Bala        6
1     Adi        2
2  Satish        5

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('Session_1').getOrCreate()

In [ ]:
spark

In [ ]:
df_pyspark = spark.read.csv('gdrive/MyDrive/Colab_Notebooks/Spark/Book_Sample_1.csv')

In [ ]:
df_pyspark.show()

+------+-------+
|   _c0|    _c1|
+------+-------+
|  Name|roll_no|
|  Bala|      6|
|   Adi|      2|
|Satish|      5|
+------+-------+

In [ ]:
df_pyspark = spark.read.option('header','true').csv('gdrive/MyDrive/Colab_Notebooks/Spark/Book_Sample_1.csv', inferSchema = True)

In [ ]:
df_pyspark.show()

+------+-------+
|  Name|roll_no|
+------+-------+
|  Bala|      6|
|   Adi|      2|
|Satish|      5|
+------+-------+

In [ ]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [ ]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- roll_no: integer (nullable = true)

In [ ]:
df_pyspark = spark.read.csv('gdrive/MyDrive/Colab_Notebooks/Spark/Book_Sample_1.csv', header = True, inferSchema = True)

In [ ]:
df_pyspark.show()

+------+-------+
|  Name|roll_no|
+------+-------+
|  Bala|      6|
|   Adi|      2|
|Satish|      5|
+------+-------+

In [ ]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- roll_no: integer (nullable = true)

In [ ]:
df_pyspark.columns

['Name', 'roll_no']

In [ ]:
df_pyspark.head(3)

[Row(Name='Bala', roll_no=6),
 Row(Name='Adi', roll_no=2),
 Row(Name='Satish', roll_no=5)]

In [ ]:
df_pyspark.select('Name')

DataFrame[Name: string]

In [ ]:
df_pyspark.select('Name').show()

+------+
|  Name|
+------+
|  Bala|
|   Adi|
|Satish|
+------+

In [ ]:
df_pyspark.select(['Name','roll_no']).show()

+------+-------+
|  Name|roll_no|
+------+-------+
|  Bala|      6|
|   Adi|      2|
|Satish|      5|
+------+-------+

In [ ]:
df_pyspark.dtypes

[('Name', 'string'), ('roll_no', 'int')]

In [ ]:
df_pyspark.describe().show()

+-------+------+------------------+
|summary|  Name|           roll_no|
+-------+------+------------------+
|  count|     3|                 3|
|   mean|  null| 4.333333333333333|
| stddev|  null|2.0816659994661326|
|    min|   Adi|                 2|
|    max|Satish|                 6|
+-------+------+------------------+

In [ ]:
df_pyspark = df_pyspark.withColumn("roll_no + 2", df_pyspark['roll_no']+2)

In [ ]:
df_pyspark.show()

+------+-------+-----------+
|  Name|roll_no|roll_no + 2|
+------+-------+-----------+
|  Bala|      6|          8|
|   Adi|      2|          4|
|Satish|      5|          7|
+------+-------+-----------+

In [ ]:
df_pyspark = df_pyspark.drop('roll_no + 2')

In [ ]:
df_pyspark.show()

+------+-------+
|  Name|roll_no|
+------+-------+
|  Bala|      6|
|   Adi|      2|
|Satish|      5|
+------+-------+

In [ ]:
df_pyspark = df_pyspark.withColumnRenamed('roll_no', 'Roll_No_New')

In [ ]:
df_pyspark.show()

+------+-----------+
|  Name|Roll_No_New|
+------+-----------+
|  Bala|          6|
|   Adi|          2|
|Satish|          5|
+------+-----------+

In [ ]:
df_pyspark1 = spark.read.csv('gdrive/MyDrive/Colab_Notebooks/Spark/Book_Sample_2.csv', header = True, inferSchema = True)

In [ ]:
df_pyspark1.show()

+----+----+----------+------+
|Name| Age|Experience|Salary|
+----+----+----------+------+
|   A|  22|         1|  1000|
|   B|  23|         3|  1200|
|   C|  24|         2|  1300|
|   D|  25|         1|  1100|
|   E|null|      null|  1200|
|null|  30|         4|  1300|
|null|  31|      null|  1200|
|null|  33|      null|  null|
+----+----+----------+------+

In [ ]:
df_pyspark1.na.drop().show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|   A| 22|         1|  1000|
|   B| 23|         3|  1200|
|   C| 24|         2|  1300|
|   D| 25|         1|  1100|
+----+---+----------+------+

In [ ]:
df_pyspark1.na.drop(how = 'all').show()

+----+----+----------+------+
|Name| Age|Experience|Salary|
+----+----+----------+------+
|   A|  22|         1|  1000|
|   B|  23|         3|  1200|
|   C|  24|         2|  1300|
|   D|  25|         1|  1100|
|   E|null|      null|  1200|
|null|  30|         4|  1300|
|null|  31|      null|  1200|
|null|  33|      null|  null|
+----+----+----------+------+

In [ ]:
df_pyspark1.na.drop(how = 'any').show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|   A| 22|         1|  1000|
|   B| 23|         3|  1200|
|   C| 24|         2|  1300|
|   D| 25|         1|  1100|
+----+---+----------+------+

In [ ]:
df_pyspark1.na.drop(how = 'any', thresh = 2).show()

+----+----+----------+------+
|Name| Age|Experience|Salary|
+----+----+----------+------+
|   A|  22|         1|  1000|
|   B|  23|         3|  1200|
|   C|  24|         2|  1300|
|   D|  25|         1|  1100|
|   E|null|      null|  1200|
|null|  30|         4|  1300|
|null|  31|      null|  1200|
+----+----+----------+------+

In [ ]:
df_pyspark1.na.drop(how = 'any', subset = ['Name']).show()

+----+----+----------+------+
|Name| Age|Experience|Salary|
+----+----+----------+------+
|   A|  22|         1|  1000|
|   B|  23|         3|  1200|
|   C|  24|         2|  1300|
|   D|  25|         1|  1100|
|   E|null|      null|  1200|
+----+----+----------+------+

In [ ]:
df_pyspark1.na.fill('missing', 'Age').show()

+----+----+----------+------+
|Name| Age|Experience|Salary|
+----+----+----------+------+
|   A|  22|         1|  1000|
|   B|  23|         3|  1200|
|   C|  24|         2|  1300|
|   D|  25|         1|  1100|
|   E|null|      null|  1200|
|null|  30|         4|  1300|
|null|  31|      null|  1200|
|null|  33|      null|  null|
+----+----+----------+------+

In [ ]:
df_pyspark1.na.fill(value = "missing", subset = ['Name']).show()

+-------+----+----------+------+
|   Name| Age|Experience|Salary|
+-------+----+----------+------+
|      A|  22|         1|  1000|
|      B|  23|         3|  1200|
|      C|  24|         2|  1300|
|      D|  25|         1|  1100|
|      E|null|      null|  1200|
|missing|  30|         4|  1300|
|missing|  31|      null|  1200|
|missing|  33|      null|  null|
+-------+----+----------+------+

In [ ]:
from pyspark.ml.feature import Imputer

imputer = Imputer( inputCols = ['Age', 'Experience', 'Salary'],
                   outputCols = ['Age_imp', 'Experience_imp', 'Salary_imp']).setStrategy("mean")

In [ ]:
imputer.fit(df_pyspark1).transform(df_pyspark1).show()

+----+----+----------+------+-------+--------------+----------+
|Name| Age|Experience|Salary|Age_imp|Experience_imp|Salary_imp|
+----+----+----------+------+-------+--------------+----------+
|   A|  22|         1|  1000|     22|             1|      1000|
|   B|  23|         3|  1200|     23|             3|      1200|
|   C|  24|         2|  1300|     24|             2|      1300|
|   D|  25|         1|  1100|     25|             1|      1100|
|   E|null|      null|  1200|     26|             2|      1200|
|null|  30|         4|  1300|     30|             4|      1300|
|null|  31|      null|  1200|     31|             2|      1200|
|null|  33|      null|  null|     33|             2|      1185|
+----+----+----------+------+-------+--------------+----------+

In [ ]:
df_pyspark1 = df_pyspark1.na.drop(how = 'any')

In [ ]:
df_pyspark1.show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|   A| 22|         1|  1000|
|   B| 23|         3|  1200|
|   C| 24|         2|  1300|
|   D| 25|         1|  1100|
+----+---+----------+------+

In [ ]:
df_pyspark1.filter("Salary<=1200").show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|   A| 22|         1|  1000|
|   B| 23|         3|  1200|
|   D| 25|         1|  1100|
+----+---+----------+------+

In [ ]:
df_pyspark1.filter("Salary<=1200").select(['Name','Age']).show()

+----+---+
|Name|Age|
+----+---+
|   A| 22|
|   B| 23|
|   D| 25|
+----+---+

In [ ]:
df_pyspark1.filter( (df_pyspark1['Salary'] < 1200) & (df_pyspark1['Salary'] > 1000) ).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|   D| 25|         1|  1100|
+----+---+----------+------+

In [ ]:
df_pyspark1.filter(~(df_pyspark1['Salary'] < 1200)).show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|   B| 23|         3|  1200|
|   C| 24|         2|  1300|
+----+---+----------+------+

In [ ]:
df_pyspark2 = spark.read.csv('gdrive/MyDrive/Colab_Notebooks/Spark/Book_Sample_3.csv', header = True, inferSchema = True)

In [ ]:
df_pyspark2.show()

+----+----+------+
|Name|Dept|Salary|
+----+----+------+
|   A|  DS|  1000|
|   A| IOT|  1200|
|   A|  BD|  1100|
|   B| IOT|  1100|
|   B|  DS|  1300|
|   B|  BD|  1500|
|   C| IOT|  1200|
|   C|  BD|  1300|
|   E|  DS|  1400|
+----+----+------+

In [ ]:
df_pyspark2.groupBy('Name').sum('Salary').show()

+----+-----------+
|Name|sum(Salary)|
+----+-----------+
|   E|       1400|
|   B|       3900|
|   C|       2500|
|   A|       3300|
+----+-----------+

In [ ]:
df_pyspark2.groupBy('Dept').max('Salary').show()

+----+-----------+
|Dept|max(Salary)|
+----+-----------+
| IOT|       1200|
|  BD|       1500|
|  DS|       1400|
+----+-----------+

In [ ]:
df_pyspark2.groupBy('Dept').count().show()

+----+-----+
|Dept|count|
+----+-----+
| IOT|    3|
|  BD|    3|
|  DS|    3|
+----+-----+

In [ ]:
df_pyspark2.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      11100|
+-----------+

In [ ]:
df_pyspark1.show()

+----+---+----------+------+
|Name|Age|Experience|Salary|
+----+---+----------+------+
|   A| 22|         1|  1000|
|   B| 23|         3|  1200|
|   C| 24|         2|  1300|
|   D| 25|         1|  1100|
+----+---+----------+------+

In [ ]:
df_pyspark1.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [ ]:
from pyspark.ml.feature import VectorAssembler

featureassembler = VectorAssembler(inputCols = ['Age', 'Experience'], outputCol = 'Independent_feature')

In [ ]:
output = featureassembler.transform(df_pyspark1)

In [ ]:
output.show()

+----+---+----------+------+-------------------+
|Name|Age|Experience|Salary|Independent_feature|
+----+---+----------+------+-------------------+
|   A| 22|         1|  1000|         [22.0,1.0]|
|   B| 23|         3|  1200|         [23.0,3.0]|
|   C| 24|         2|  1300|         [24.0,2.0]|
|   D| 25|         1|  1100|         [25.0,1.0]|
+----+---+----------+------+-------------------+

In [ ]:
final_data = output.select('Independent_feature', 'Salary')

In [ ]:
final_data.show()

+-------------------+------+
|Independent_feature|Salary|
+-------------------+------+
|         [22.0,1.0]|  1000|
|         [23.0,3.0]|  1200|
|         [24.0,2.0]|  1300|
|         [25.0,1.0]|  1100|
+-------------------+------+

In [ ]:
from pyspark.ml.regression import LinearRegression

train_data, test_data = final_data.randomSplit([0.75, 0.25])

regressor = LinearRegression(featuresCol = 'Independent_feature', labelCol = 'Salary')
regressor = regressor.fit(train_data)

In [ ]:
regressor.coefficients

DenseVector([-100.0, 100.0])

In [ ]:
regressor.intercept

3499.9999999991915

In [ ]:
prediction = regressor.evaluate(test_data)

In [ ]:
prediction.predictions.show()

/usr/local/lib/python3.7/dist-packages/pyspark/sql/context.py:127: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning

+-------------------+------+------------------+
|Independent_feature|Salary|        prediction|
+-------------------+------+------------------+
|         [22.0,1.0]|  1000|1399.9999999999168|
|         [23.0,3.0]|  1200|1499.9999999999504|
+-------------------+------+------------------+

In [ ]:
train_data.show()

+-------------------+------+
|Independent_feature|Salary|
+-------------------+------+
|         [22.0,1.0]|  1000|
|         [24.0,2.0]|  1300|
+-------------------+------+

In [ ]:
test_data.show()

+-------------------+------+
|Independent_feature|Salary|
+-------------------+------+
|         [23.0,3.0]|  1200|
|         [25.0,1.0]|  1100|
+-------------------+------+

In [ ]:
prediction.meanAbsoluteError

349.9999999999336

In [ ]:
prediction.meanSquaredError

124999.99999995185